.sidebar-container{
	height: 100vh;
	background-color: var(--color-primary--2);
	width: 250px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;		
	position: fixed; 
 	top: 0;
    left: 0;
}

.sidebar-item-container{
	margin-top: 5rem;
	padding: 2.5rem 1px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}


.sidebar-icon{
	width: 20px;
	height: 20px;
	stroke: var(--color-text--2);
}

.nav-item{
	border-left: var(--color-primary--2) 6px solid;
	padding-left: 2rem;
	padding: 1.5rem;
	color: var(--color-text--2);
	width: 100%;
	height: 2.5rem;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	cursor: pointer;
}

.active{
	border-left: var(--color-primary--1) 6px solid;
	border-radius: 5px;
	color: var(--color-primary--1);
}

.active-icon{
	stroke: var(--color-primary--1);;

}