.overview-container{
	width: 100%;
	margin-top: 1rem;
	align-content: center;
	gap: 10px;

}

.metric-container{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.events{
	width: 100%;
	margin-top: 25px;
}

.events-container{
	margin-top: 15px;
	gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr ;	
}
