.signup-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary--1);
}

.signup-box {
	display: flex;
	align-items: center;
	background-color: var(--color-accent--1);
	border-radius: 16px;
	padding: 16px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	width: 450px;
	height: 800px;
	flex-direction: column;
	gap: 12px;
}

.signup-button {
	margin-top: 24px;
}

.name-input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 15px;
}

.form-box {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
