@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');


:root {
	--color-primary--1: #228ce3;
	--color-primary--2: #f5f9ff;
	--color-accent--0: #7fcfff;
	--color-accent--1: #d9e8ff;
	--color-accent--2: #7a9bc1;
	--color-neutral--1: #E1E8ED;
	--color-neutral--2: #EAF4FF;
	--color-neutral--3: #FFFFFF;
	--color-text--1: #324A5E;
	--color-text--2: #7A869A;
	--color-button--1: #B0D7FF;
	--color-hover--1: #92C4FF;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}


body {
  	font-family: 'Open Sans', sans-serif;
	background-color: var(--color-primary--2);
	font-weight: 400;
	line-height: 1.6;
}

a {
	text-decoration:none !important;
  	display: inline-block;
}